<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <WindowsFormsApp5.Properties.Settings>
            <setting name="lightstyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DGV_Product_Name" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DGV_Product" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DGV_CuttingInsert" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DGV_Holder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DGV_Product_Name_SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="DGV_Product_SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="DGV_CuttingInsert_SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="DGV_Holder_SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="deleteddisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refresh_r" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firststart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fileadd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DGV_Storage_SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="DGV_Storage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="countwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rb_type" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApp5.Properties.Settings>
    </userSettings>
</configuration>
